<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main Test Suite">
    <test verbose="10" preserve-order="true" name="Intranet and Seat tests">

        <classes>
            <class name="tests.searchangajat.SearchAngajatTest"></class>
            <class name="tests.seat.BookSeatTest"></class>
        </classes>
    </test>
</suite>
